PORT=5000
MONGODB_URI=mongodb+srv://adamsbrain:nrWUrS7tJwYBsOUB@adamsbrain-cluster.h6kqme3.mongodb.net/?retryWrites=true&w=majority&appName=adamsbrain-cluster
JWT_SECRET=super_secret_jwt_key_change_in_production
NODE_ENV=development